<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center text-success">Order Placed Sucess fully</h1>
                <a href="/orders" class="btn btn-primary">View Orders</a>
            </div>
        </div>
    </div>
</section>